<script src="https://kit.fontawesome.com/8f27d68390.js" crossorigin="anonymous">  </script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<header>
    <h1>Foodie</h1>
    <div class="cart-box">
        <div class="cart-icon"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="36" fill="currentColor" class="bi bi-cart-check-fill " viewBox="0 0 16 16">
            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/>
          </svg>
          
        
        </div>
        <div class="whole-cart-window hide">
             <h2>Order List</h2>
             <div class="cart-wrapper">
                 <div class="cart-item">
                     <img src="./assets/bruschetta.jpg">
                     <div class="details">
                         <h3>Item Name</h3>
                         <p>Bruschetta<span class="price">Price: $12.00</span>
                            <span class="quantity">Quantity: 1</span>
                        </p>
                    </div>

                     <div class="cancel"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                      </svg>
                       </div>

                 </div>

               <!-- ............item 2.......... -->

               <div class="cart-item">
                <img src="./assets/bruschetta.jpg">
                <div class="details">
                    <h3>Item Name</h3>
                    <p>Bruschetta<span class="price">Price: $12.00</span>
                       <span class="quantity">Quantity: 1</span>
                   </p>
               </div>

                <div class="cancel"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                   <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                 </svg>
                  </div>

            </div>

























             </div>
             <div class="subtotal">Subtotal</div>
             <div class="checkout">Checkout</div>
             <div class="view-cart">View order</div>







        </div>
    </div>

</header>
<section class="shop-section">
    
    <div class="card-wrapper">
        <div class="card-item">
            <img src="./assets/bruschetta.jpg">
            <div class="details">
                <h3>Item Name</h3>
                <p>Bruschetta.
                    <span class="price">Price: $12.00</span>
                   <span class="add-to-cart-btn">Order</span>
               </p>
           </div>

        </div>

       
        <div class="card-item">
            <img src="./assets/burger.jpg">
            <div class="details">
                <h3>Item Name</h3>
                <p>Burger.
                    <span class="price">Price: $15.00</span>
                   <span class="add-to-cart-btn">Order</span>
               </p>
           </div>

        </div>

  
        <div class="card-item">
            <img src="./assets/lasagna.jpg">
            <div class="details">
                <h3>Item Name</h3>
                <p>Lasagna.
                    <span class="price">Price: $25.00</span>
                   <span class="add-to-cart-btn">Order</span>
               </p>
           </div>

        </div>



        <div class="card-item">
            <img src="./assets/noodles.jpeg">
            <div class="details">
                <h3>Item Name</h3>
                <p>Noodles.
                    <span class="price">Price: $20.00</span>
                   <span class="add-to-cart-btn">Order</span>
               </p>
           </div>

        </div>

     
        <div class="card-item">
            <img src="./assets/pasta.jpeg">
            <div class="details">
                <h3>Item Name</h3>
                <p>Pasta.
                    <span class="price">Price: $30.00</span>
                   <span class="add-to-cart-btn">Order</span>
               </p>
           </div>

        </div>

        <div class="card-item">
            <img src="./assets/pizza.jpg">
            <div class="details">
                <h3>Item Name</h3>
                <p>Pizza.
                    <span class="price">Price: $35.00</span>
                   <span class="add-to-cart-btn">Order</span>
               </p>
           </div>

        </div>


        <div class="card-item">
            <img src="./assets/ravioli.jpg">
            <div class="details">
                <h3>Item Name</h3>
                <p>Ravioli.
                    <span class="price">Price: $15.00</span>
                   <span class="add-to-cart-btn">Order</span>
               </p>
           </div>

        </div>


        <div class="card-item">
            <img src="./assets/Rigatoni alla Carbonara.jpg">
            <div class="details">
                <h3>Item Name</h3>
                <p>Rigatoni alla Carbonara.
                    <span class="price">Price: $25.00</span>
                   <span class="add-to-cart-btn">Order</span>
               </p>
           </div>

        </div>

        <div class="card-item">
            <img src="./assets/tiramisu.jpg">
            <div class="details">
                <h3>Item Name</h3>
                <p>Tiramisu.
                    <span class="price">Price: $22.00</span>
                   <span class="add-to-cart-btn">Order</span>
               </p>
           </div>

        </div>


















    </div>

</section>
    <script src="script.js"></script>
</body>
</html>


























