<div class="section-1">
    <div class="f-l w-60">
      <div class="f-r w-75">
        <div class="navbar">
          <img
            src="../../assets/Foodies.png"
            alt="logo"
            width="340px"
            height="200%"
          />
          <div class="nav-btns">
            <button type="button" class="login" routerLink="login">Login</button>
            <button type="button" class="signup" routerLink="registration">Sign up</button>
          </div>
        </div>
        <p class="head">Cooking gone wrong?</p>
        <p class="sub-head">Order food from favourite restaurants near you.</p>
        <div class="flex-row">
          <div class="search-box">All popular dishes found here!</div>
          <button class="search-button">FIND</button>
        </div>
        <p class="sub-head">POPULAR CITIES IN INDIA</p>
        <div class="flex-row">
          <p class="city">Mangalore</p>
          <p class="city">Bangalore</p>
          <p class="city">Mumbai</p>
          <p class="city">Pune</p>
          <p class="city">Kerala</p>
          <p class="city">Hyderabad</p>
        </div>
        <div>
          <img src="../../assets/about.png">
        </div> 
      </div>
    </div>
    <div class="f-r w-40">
      <img src="../../assets/home.png" width="100%" height="100%" />
    </div>
    <div class="right">
      <img src="../../assets/right.png"  width="40%" height="20%" />
    </div>
  </div>